.todo-app {
    margin-top: 50px;
    display: grid;
    justify-content: center;

}



.deleteButton {
    background-color: hsl(120, 80%, 60%);
    font-size: xx-small;
    
}

.deleteButton:hover {
    background-color: hsl(120, 80%, 60%);
    font-size: xx-small;
    
}